# ignore binaries and object files (build output)
libString/bin/Debug/
libString/bin/Release/
libString/obj/Debug/
libString/obj/Release/
StringUnitTests/bin/Debug/*
StringUnitTests/obj/Debug/
libString/*.so
StringUnitTests/StringUnitTests

# ignore backup files
*.bak
*.save
*.swp
*.*~
